/* SELECTOC CON SU BLOQUE DE DECLARACIONES */ 
h2 {  /* este estilo afecta a todos los h2 en index2.thml */ 
    font-size: 4em; 
    color: rgb(255, 123, 0);
    background-color: rgb(144, 223, 16);  
}

.textoanaranjado { /* clase css que aplica color anaranjad y fuentes lucidaSAns */ 
    color: rgb(243, 158, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.claseContenedorDv1 { /* afectara a algunos contenedores Div */ 
    font-size: 40px;
     width: 800px;
    height: 600px;
    background-color: rgb(17, 240, 165);

}


#fondoazul { /* identificador que solo afecta a una etiqueta */ 
    background-color: rgb(68, 1, 252);
    font-size: 45px;
    text-align: center;
}
.textoanaranjado:hover { 
    background-color: brown;
     color: rgb(236, 221, 15);

}

.claseContenedorDv1::first-letter { 
    /* seudoelemento que afecta a la letra inicial */ 
    font-size: 80px;
    color: rgb(241, 218, 7);
}